<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096450663649-js9vbnr35llmss6anjiojqrqf96l9884.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096450663649-js9vbnr35llmss6anjiojqrqf96l9884</string>
	<key>API_KEY</key>
	<string>AIzaSyBIt9DXGDxQeEijxo7T5EYDjVVhkew3fDs</string>
	<key>GCM_SENDER_ID</key>
	<string>1096450663649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ricmobile</string>
	<key>PROJECT_ID</key>
	<string>read-india-celebration-20802</string>
	<key>STORAGE_BUCKET</key>
	<string>read-india-celebration-20802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096450663649:ios:57f4642755a923e0b7c3a0</string>
</dict>
</plist>